                                                      /* 1440px */

@media (max-width: 1440px) {

  /* Features Section */

  #features .money-rating .rating {
    margin-left: 70%;
  }

  /* T-Gallery Section */

  #t-gallery .g-grid .col-lg-3 .img-LA {
    margin-top: 25%;
    font-size: 30px;
  }

  #t-gallery .g-grid .col-lg-3 .img-P {
    margin-top: 25%;
    font-size: 30px;
  }

  #t-gallery .g-grid .col-lg-3 .img-S {
    margin-top: 25%;
    font-size: 30px;
  }

  #t-gallery .g-grid .col-lg-3 .img-NY {
    margin-top: 25%;
    font-size: 30px;
  }

  /* Offers Section */

  #offers .content {
    height: 200px;
    margin-top: 270px;
  }

  #offers .container {
    margin-top: 48px;
  }

  #offers .container .offers-discount h3 {
    font-size: 35px;
    font-weight: 600;
  }
}

                                                      /* 1024px */

@media (max-width: 1024px) {

  /* Features Section */

  #features .money-rating .rating {
    margin-left: 59%;
  }

  #features .container .card {
    height: fit-content;
  }

  #features .card-head {
    font-size: 30px;
  }


  #features .card-para {
    font-size: 16px;
    font-weight: 500;
  }

  #features .tour-pkgs .location,
  .day,
  .night {
    font-size: 14.5px;
    margin: 1.5px;
  }
}

  /* T-Gallery Section */

  #t-gallery .g-grid .col-lg-3 .img-LA {
    margin-top: 24.5%;
    font-size: 18.5px;
  }

  #t-gallery .g-grid .col-lg-3 .img-P {
    margin-top: 24.5%;
    font-size: 18.5px;
  }

  #t-gallery .g-grid .col-lg-3 .img-S {
    margin-top: 24.5%;
    font-size: 18.5px;
  }

  #t-gallery .g-grid .col-lg-3 .img-NY {
    margin-top: 24.5%;
    font-size: 18.5px;
  }


                                                      /* 768px */

@media (max-width: 768px) {

  /* Features Section */

  #features .money-rating .rating {
    margin-left: 82%;
  }

  #features .card-head {
    font-size: 30px;
  }

  #features .tour-pkgs .location,
  .day,
  .night {
    font-size: 16.5px;
    margin: 1.5px;
  }

  /* T-Gallery Section */

  #t-gallery .g-grid .col-lg-3 .img-LA {
    margin-top: 26%;
    font-size: 40px;
    margin-left: 25.5%;
  }

  #t-gallery .g-grid .col-lg-3 .img-P {
    margin-top: 26%;
    font-size: 40px;
    margin-left: 40.5%;
  }

  #t-gallery .g-grid .col-lg-3 .img-S {
    margin-top: 26%;
    font-size: 40px;
    margin-left: 31%;
  }

  #t-gallery .g-grid .col-lg-3 .img-NY {
    margin-top: 26%;
    font-size: 40px;
    margin-left: 32%;
  }

  /* Offers Section */

  #offers .content {
    height: 200px;
    margin-top: 260px;
  }

  #offers .container {
    margin-top: 26px;
  }

  #offers .container .offers-discount h3 {
    font-size: 25.5px;
    font-weight: 600;
  }

  #offers .container .offers-discount p {
    font-size: 20px;
    font-weight: 500;
  }
}

                                                    /* 1045px */

@media (max-width: 1045px) {
  #testimonials .wrapper .box {
    width: calc(50% - 10px);
    margin: 10px 0;
  }
}

                                                    /* 702px */

@media (max-width: 702px) {
  #testimonials .wrapper .box {
    width: 100%;
  }
}

                                                      /* 425px */

@media (max-width: 425px) {

  /* Features Section */

  #features .money-rating .rating {
    /* margin-left: 45%; */
    margin-top: -22px;
  }

  #features .card-head {
    font-size: 27px;
  }

  #features .card-para {
    font-size: 14.5px;
  }

  #features .tour-pkgs .location,
  .day,
  .night {
    font-size: 12px;
    margin: 0.5px;
    align-items: baseline;
  }

  /* T-Gallery Section */

  #t-gallery .g-grid .col-lg-3 .img-LA {
    margin-top: 25%;
    font-size: 15px;
    margin-left: 23.5%;
  }

  #t-gallery .g-grid .col-lg-3 .img-P {
    margin-top: 25%;
    font-size: 15px;
    margin-left: 39%;
  }

  #t-gallery .g-grid .col-lg-3 .img-S {
    margin-top: 25%;
    font-size: 15px;
    margin-left: 28%;
  }

  #t-gallery .g-grid .col-lg-3 .img-NY {
    margin-top: 25%;
    font-size: 15px;
    margin-left: 30%;
  }

  /* Offers Section */

  #offers .content {
    height: 225px;
    margin-top: 275px;
  }

  #offers .container {
    margin-top: 20px;
  }

  #offers .container .offers-discount h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
  }
}
/* Additional Responsive */

@media (max-width: 1399px) {
  #features .money-rating .rating {
    margin-left: 66%;
  }
}

@media (max-width: 1199px) {
  #features .money-rating .rating {
    margin-left: 59%;
  }

  #features .tour-pkgs .location,
  .day,
  .night {
    font-size: 15px;
    margin: 0.5px;
    align-items: baseline;
  }
}

@media (max-width: 991px) {

  #features .money-rating .rating {
    margin-left: 82%;
  }
}

@media (max-width: 767px) {

  #features .money-rating .rating {
    margin-left: 76%;
  }
}

@media (max-width: 575px) {

  #features .money-rating .rating {
    margin-left: 78%;
  }
}

@media (max-width: 532px) {

  #features .money-rating .rating {
    margin-left: 77%;
  }
}

@media (max-width: 519px) {

  #features .money-rating .rating {
    margin-left: 76.5%;
  }
}

@media (max-width: 509px) {

  #features .money-rating .rating {
    margin-left: 76%;
  }
}

@media (max-width: 499px) {

  #features .money-rating .rating {
    margin-left: 75.5%;
  }
}

@media (max-width: 489px) {

  #features .money-rating .rating {
    margin-left: 75%;
  }
}

@media (max-width: 480px) {

  #features .money-rating .rating {
    margin-left: 74%;
  }
}

@media (max-width: 462px) {

  #features .money-rating .rating {
    margin-left: 73%;
  }
}

@media (max-width: 446px) {

  #features .money-rating .rating {
    margin-left: 72%;
  }
}

@media (max-width: 431px) {

  #features .money-rating .rating {
    margin-left: 71%;
  }
}

@media (max-width: 417px) {

  #features .money-rating .rating {
    margin-left: 70%;
  }
}

@media (max-width: 404px) {

  #features .money-rating .rating {
    margin-left: 69%;
  }
}

@media (max-width: 392px) {

  #features .money-rating .rating {
    margin-left: 68%;
  }
}

@media (max-width: 380px) {

  #features .money-rating .rating {
    margin-left: 67%;
  }
}

@media (max-width: 370px) {

  #features .money-rating .rating {
    margin-left: 66%;
  }
}

@media (max-width: 359px) {

  #features .money-rating .rating {
    margin-left: 65%;
  }
}

@media (max-width: 344px) {

  #features .money-rating .rating {
    margin-left: 63.5%;
  }
}

@media (max-width: 337px) {

  #features .money-rating .rating {
    margin-left: 62%;
  }
}

@media (max-width: 324px) {

  #features .money-rating .rating {
    margin-left: 61%;
  }
}

@media (max-width: 317px) {

  #features .money-rating .rating {
    margin-left: 59.5%;
  }
}

@media (max-width: 306px) {

  #features .money-rating .rating {
    margin-left: 58%;
  }
}

@media (max-width: 296px) {

  #features .money-rating .rating {
    margin-left: 56.5%;
  }
}