@media (max-width: 1024px){
    #features .money-rating .rating{
        margin-left: 50%;
    }
}

@media (max-width: 1045px) {
    #testimonials .wrapper .box{
      width: calc(50% - 10px);
      margin: 10px 0;
    }
  }
  @media (max-width: 702px) {
    #testimonials .wrapper .box{
      width: 100%;
    }
  }